body {
  font-family: 'Playfair Display', serif;
  background-color: #1a1a1a;
  margin: 0;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 20px;
}
.capitalize {
  text-transform: capitalize;
}
.break-all {
  word-break: break-all;
}
.bg-dark-grey {
  background-color: #262626;
}
@keyframes pulse {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}
.loading-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse-scale {
  0%, 100% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.05);
      opacity: 0.9;
  }
}
.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}

